@use "src/index.scss" as *;

.color-box {
    aspect-ratio: 1 / 1;
    border: $darkerBorder;
    border-radius: $smallBorderRadius;
    max-width: 5rem;
}

.color-box:hover{
    border: 3px solid $watermelonDark;
}