@use "src/index.scss" as *;

.really-safe-paintbox {
    background-color: $turqoiseLight;
    border: $pinkBorder;
    border-radius: $smallBorderRadius;
    max-width: 60rem;
    padding: .3rem;

}

.get-really-safe-colors {
    margin-bottom: .2rem;
}