@use "src/index.scss" as *;

.window-size-box {
  background-color: $skinnyPeach;
  border: $pinkBorder;
  border-radius: $smallBorderRadius;
  color: $watermelonDarker;
  padding: $defaultPadding;
}

.window-height,
.window-width {
  color: $watermelonGrayCreep;
}

.px-span {
  color: $watermelon;
  opacity: 0.8;
}

@media (max-width: 433px) {
  .window-size-box {
    display: flex;
    flex-direction: row;
    font-size: medium;
    justify-content: space-between;
    padding: 0.4rem;
  }
}

@media (max-width: 390px) {
  .window-size-box {
    display: grid;
    font-size: medium;
    grid-template-areas:
      "sizer sizer sizer"
      "height width empty";
    justify-content: space-between;
  }
  .sizer {
    grid-area: sizer;
  }
  .window-height {
    grid-area: height;
  }
  .window-width {
    grid-area: width;
  }
}

@media (max-width: 300px) {
  .window-size-box {
    font-size: 0.9rem;
  }
}

@media (max-width: 250px) {
  .window-size-box {
    font-size: smaller;
    width: 12rem;
  }
}
