@use "src/index.scss" as *;

.grid-box {
    //this is my utility class, "stacked"
    display: grid;
    gap: .1rem;
    grid-template-columns: 
      repeat(auto-fit, minmax(5rem, 1fr));
}

.get-my-colors {
    border: 1px solid $watermelonGrayCreep;
    border-radius: $biggerBorderRadius;
    color: $watermelonGrayCreep;
}

.get-my-colors:hover {
    background-color: $cerealMilk;
    border-radius: $biggerBorderRadius;
    border-color: $darkestBorder;
    color: $watermelonGrayCreep;
}

.get-my-colors:active {
    background-color: $orangey;
    border-color: $watermelonDark;
    color: $watermelonDark;
}