@use "src/index.scss" as *;

.get-my-colors {
    border: 1px solid $watermelonGrayCreep;
    border-radius: $biggerBorderRadius;
    color: $watermelonGrayCreep;
}

.get-my-colors:hover {
    background-color: $cerealMilk;
    border-radius: $biggerBorderRadius;
    border-color: $darkestBorder;
    color: $watermelonGrayCreep;
}

.get-my-colors:active {
    background-color: $orangey;
    border-color: $watermelonDark;
    color: $watermelonDark;
}