@use "src/index.scss" as *;

.my-form{
    background-color: $whiteGrayBlue;
    border: $pinkBorder;
    border-radius: $smallBorderRadius;
    color: $watermelonDark;
    display: flex;
    flex-direction: column;
    min-width: 6rem;
    padding: $defaultPadding;
}

//---Input-Styling----
.hex-input-label{
    font-size: 1.4rem;
}

.color-input{
    border-radius: $biggerBorderRadius;
    border: $darkerBorder;
    color: 1px solid $watermelonDarker;
    max-width: 4rem;
}

input, select, textarea {
  color: $watermelon;
}

.color-input::placeholder{
    color: $watermelonGrayCreep;
    font-weight: 300, 1;
    opacity: .6;
}


//---Submit-Button----
.submit-button {
  width: 5rem;
}

// .submit-button:hover{
//   background-color: $cerealMilk;
//   border-radius: .2rem;
//   border-color: $darkestBorder;
//   color: $watermelonGrayCreep;
// }

// .submit-button:active{
//   background-color: $orangey;
//   border-color: $watermelonDark;
//   color: $watermelonDark;
// }