@use "src/index.scss" as *;

.flex-wrapper {
    display: flex;
    flex-direction: row;
}

.sandbox {
    background-color: $carefreeBlue;
    border: $pinkBorder;
    border-radius: $smallBorderRadius;
    margin: .2rem 0;
    padding: .3rem;
}

.delete-my-colors {
    margin-bottom: .2rem;
}